<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    @Styles.Render("~/bundles/css")
</head>
<body>
    <div class="page-container">

        <!-- top navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">My Blog</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-offcanvas row-offcanvas-left">
    <!-- main area -->
    <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
                @RenderBody()
            </div>
        <!-- /.col-xs-12 main -->
        </div>
     <!--/.row-->
    </div>
    <!--/.container-->
        </div><!--/.page-container-->


        <div id="footer"><!--footer-->
            <div class="container">
                <div class="row">
                    <ul class="list-unstyled">
                        <li class="col-sm-4 col-xs-6">
                            <a href="#">Posts</a>
                        </li>
                        <li class="col-sm-4 col-xs-6">
                            <a href="#">Tags</a>
                        </li>
                        <li class="col-sm-4 col-xs-6">
                            <a href="#">Services</a>
                        </li>
                    </ul>
                </div><!--/row-->

            </div><!--/container-->
        </div><!--/footer-->

        <!-- script references -->
    @*        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>*@
    @Scripts.Render("~/bundles/libs")
    @RenderSection("scripts", required: false)

</body>
</html>

