@model System.Collections.Generic.ICollection<Data.Comment>

<section id ="comments">
    <hr/>
    <h3>@Model.Count comments</h3>
    @foreach (var comment in Model)
    {
        <article class="comment span2 well">
            <h4>@comment.Title</h4>
            <h5>By: @comment.Username</h5>
            <p>
                @comment.Body
            </p>
            <time>Am  @comment.CreatedAt.ToShortDateString() um  @comment.CreatedAt.ToShortTimeString() Uhr</time>
        </article>
    }
</section>