@model Data.Post

<article>
    <h2>@Model.Title</h2>
    <section>
        @Html.Raw(Model.Body)
    </section>
    @Html.Partial("_Tag", Model.Tags.Select(t => t.Name))
    @Html.Partial("_Comments", Model.Comments)
    @Html.ActionLink("Add comment","addcomment", new {id = Model.Id}, new {@class="btn btn-primary"})
</article>
